@model ASP_DotNetCoreLearning.ViewModels.RandomMovieViewModel;
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customer.Count > 0 ? "popular" : null;
}
    <h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customer.Count == 0)
{
    <text>No out has rened this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customer)
        {
            <p>@customer.Name</p>
        }

    </ul>
}



