@model Product
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@await Html.PartialAsync("_Greeting")
<h1>@Model.Title</h1>
Price: @Model.Price

@for (int i = 0; i < 3; i++)
{
    @await Html.PartialAsync("_Greeting", Model, new ViewDataDictionary(ViewData) { { "index", i } })
}